/*.egg-info
/.spyderproject
.spyderproject
.idea/*
/**/__pycache__
/**/.ipynb_checkpoints
/.doit.db.bak
/.doit.db.dat
/.doit.db.dir
data
feature_engineering/output/ms-ssim
feature_engineering/output/psnr
feature_engineering/output/ssim
feature_engineering/output/vmaf
feature_engineering/cloud_functions/imports
*-large.*
*.out
out.log
*.log
*settings.json
