/*.egg-info
/.spyderproject
.spyderproject
.idea/*
/**/__pycache__
/**/.ipynb_checkpoints
/.doit.db.bak
/.doit.db.dat
/.doit.db.dir
data
output/ms-ssim
output/psnr
output/ssim
output/vmaf
*.out
out.log
*.log
*settings.json
